.about-intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 80px;
}

.about-content {
    margin-left: 5.5%;
}

@media screen and (max-width:800px) {
    .about-intro {
        height: 100dvh;
        row-gap: 3rem;
    }

    .about-content {
        margin-left: 0;
    }
}

@media only screen and (max-width: 00px) {
    .about-intro {
        height: 100dvh;
        row-gap: 3rem;
    }

    .about-content {
        margin-left: 0;
    }
}
