@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --aqua: #00d19d;
    --white: #fffdf7;
    --black: #031110;
}

html {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-image: url("../assets/images/background.jpg");
    background-size: 100vw;
    background-repeat: no-repeat;
    background-color: var(--black);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 90px;
}

header img  {
    width: 70px;
    height: fit-content;
}

strong {
    font-weight: bold;
} 

i {
    font-style: italic;
}

@media only screen and (max-width: 800px) {

    header {
        padding: 0 5%;
        height: 70px;
    }

    header img {
        width: 50px;
    }
}