:root {
    --aqua: #00d19d;
    --white: #fffdf7;
    --black: #031110;
}

html {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-image: url("../assets/images/background.jpg");
    background-size: 100vw;
    background-repeat: no-repeat;
    background-color: var(--black);
}

.top {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    height: 50px;
    width: 50px;
    bottom: 30px;
    right: 30px;
    padding: 8px;
    border-radius: 6px;
    background-color: #fffdf7a2;
    transition: opacity .5s ease;
}

.top img {
    height: 100%;
}

.show-top {
    visibility: visible;
    opacity: 1;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 90px;
}

header img  {
    width: 70px;
    height: fit-content;
}

strong {
    font-weight: bold;
} 

i {
    font-style: italic;
}

.page-footer {
    height: 10vh;
    display: flex;
    flex-direction: column;
    border-top: solid 1px;
    align-items: center;
    justify-content: space-evenly;
    color: var(--white);
}
.page-footer label {
    word-spacing: .3rem;
}

.page-footer img {
    height: 2rem;
}

@media only screen and (max-width: 800px) {

    .top {
        width: 45px;
        height: 45px;
        padding: 6px;
    }

    header {
        padding: 0 5%;
        height: 70px;
    }

    header img {
        width: 50px;
    }
}