.landing {
    display: grid;
    grid-template-areas: 
        'content image'
        'footer .'
        'down down';
    grid-template-columns: 1fr .5fr;
    grid-template-rows: 1fr .3fr .5fr;
    height: calc(100vh - 90px);
    margin-top: 90px;
    gap: 20px;
    scroll-margin-top: 90px;
}

.content {
    height: fit-content;
    max-width: 1000px;
    align-self: center;
    grid-area: content;
    margin-top: 30px;
}

.content h1 {
    margin-bottom: 5%;
}

.introduction {
    margin-left: 50px;
    word-wrap: normal;
}

.selfie {
    width: 70%;
    max-width: 300px;
    min-width: 200px;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
    grid-area: image;
}

.links {
    display: flex;
    height: fit-content;
    width: fit-content;
    margin-left: 50px;
    column-gap: 50px;
    align-self: center;
    align-items: center;
    grid-area: footer;
}

.bt-resume {
    border: none;
    color: var(--aqua);
    text-align: center;
}

.bt-resume::after, .bt-resume::before{
    border: 3px solid var(--aqua);
    border-radius: 7px;
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: transform .4s ease;
}

.bt-resume:hover::after {
    transform: translate(-7px, 7px);
}

.bt-resume:hover::before {
    transform: translate(7px, -7px);
}

.links img {
    width: 60px;
}

.links a {
    width: fit-content;
    height: fit-content;
}

.next {
    grid-area: down;
    justify-self: center;
    align-self: center;
    width: fit-content;
}

.next img {
    width: 90px;
}

.next:hover {
    cursor: pointer;
}

@media screen and (max-width: 1366px) {
    .selfie {
        width: 63%;
    }

    .links img {
        width: 50px;
    }

    .next img {
        width: 70px;
    }
}

@media screen and (max-width: 800px) {
    .landing {
        grid-template-areas: 
        'content image'
        'footer footer'
        'down down';
        height: fit-content;
        min-height: calc(100svh - 70px);
        margin-top: 70px;
    }

    .introduction {
        margin-left: 0;
    }

    .links {
        justify-self: center;
        margin-left: 0;
    }

    .selfie {
        min-width: 150px;
    }

    .links img {
        width: 45px;
    }

    .next img {
        width: 60px;
    }
}

@media only screen and (max-width: 600px) {
    .landing {
        grid-template-areas: 
        'image'
        'content'
        'footer'
        'down';
        grid-template-columns: none;
        grid-template-rows: none;
        gap: 0;
        scroll-margin-top: 70px;
    }

    .content {
        margin-top: 0;
        margin-bottom: 2%;
    }

    .content h1 {
        margin-bottom: 2%;
    }

    .introduction {
        margin-left: 0;
        margin-bottom: 2%;
    }

    .selfie {
        width: 45%;
        max-width: 100px;
    }

    .links {
        column-gap: 10%;
        place-self: center;
    }
}