.nav-bar {
    display: flex;
    align-items: center;
}

.nav-bar-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: inherit;
    justify-content: space-evenly;
}

.nav-bar-item {
    color: var(--secondary-color);
    align-self: center;
    font-size: 1.3rem;
    margin: 0 80px;
}

.nav-bar-item:last-child {
    margin-right: 0;
}