.nav-bar {
    width: 50%;
    max-width: 760px;
}

.nav-bar-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.nav-bar-item {
    color: var(--secondary-color);
    align-self: center;
    font-size: 1.5rem;
}

.nav-bar-item:last-child {
    margin-right: 0;
}