#nav-menu {
    position: fixed;
    width: 100vw;
    width: 100svw;
    transition: top .5s ease;
    background-color:rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4.3px);
    -webkit-backdrop-filter: blur(4.3px);
    z-index: 1;
}

.hide-nav {
    top: -90px;
}

.show-nav {
    top: 0;
}

.nav-bar {
    width: 50%;
    max-width: 760px;
}

.nav-bar-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.nav-bar-item {
    color: var(--white);
    align-self: center;
    font-size: 1.6rem;
    transition: all .5ms ease;
}

.nav-bar-item:hover {
    border-color: var(--aqua);
    border-bottom: 3px;
}

.nav-bar-item:last-child {
    margin-right: 0;
    transition: all .5ms ease;
}

.nav-bar-link:hover {
    border-color: var(--aqua);
    border-bottom: 3px;
    color: var(--aqua);
}

@media screen and (max-width: 1366px) {
    .nav-bar-item {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 800px) {
    .nav-bar-list {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .nav-bar-list {
        display: none;
    }
}