.section {
    padding: 0 5%;
}

.title {
    font-size: 5.4rem;
    color: var(--aqua);
    font-style: italic;
    font-weight: bold;
}

.text {
    font-size: 3rem;
    color: var(--white);
}

.bt {
    border: 3px solid var(--white);
    width: fit-content;
    font-size: 1.6rem;
    padding: .9em;
    color: var(--white);
    border-radius: 7px;
    position: relative;
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 2.5rem;
        text-align: center;
    }
    
    .text {
        font-size: 1.5rem;
        text-align: center;
    }

    .bt {
        font-size: 1rem;
        padding: .9em;
    }
}